{% extends 'EmployerBase.html' %}
{% load static %}
{% block content %}

  <form method="post">
{% csrf_token %}
   <h3>Welcome {{username}}</h3>


  <table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Name</th>
      <th>EmailID</th>
      <th>Job Category</th>
      <th>Experience</th>
      <th>skills</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for i in item %}
    <tr>
      <td>

        <div class="d-flex align-items-center">
          <img
              src="https://mdbootstrap.com/img/new/avatars/8.jpg"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">{{i.JobseekerID.JobseekerFirstName}} {{i.JobseekerID.JobseekerLastName}}</p>

          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">{{i.JobseekerID.JobseekerEmailID}}</p>

      </td>
       <td>
        <p class="fw-normal mb-1">{{i.JobseekerID.JobseekerTitle}}</p>

      </td>
       <td>
        <p class="fw-normal mb-1">{{i.JobseekerID.JobseekerExperience}}</p>

      </td>
       <td>
        <p class="fw-normal mb-1">{{i.JobseekerID.JobseekerSkill}}</p>

      </td>

      <td>
           <a href="{% url 'applicantview' i.id  %}">View </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>

  </table>
  </form>
{% endblock %}